<div class="container">
    <div class="row">
        <div class="col-xs-7 center">
        <h1>New reservation</h1>
        </div>

        <%= render 'form', reservation: @reservation %>

        <div class="col-xs-7 center new-reservation">
            <h4><%= link_to 'Back', reservations_path %></h4>
        </div>
    </div>
</div>